.slider-text .bread {
  text-transform: uppercase;
}

.main-most-popular .title {
  text-align: center;
  font-size: 2rem;
  padding-top: 40px;
}
.main-most-popular .title span {
  text-transform: uppercase;
}
.main-most-popular .main-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-most-popular .main-cards .card {
  border: 0;
  padding: 8px;
}
.main-most-popular .main-cards .card .inner {
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: border 0.5s;
  cursor: pointer;
}
.main-most-popular .main-cards .card .inner:hover {
  border: 1px solid #262626;
}
.main-most-popular .main-cards .card .inner .name {
  text-align: center;
}/*# sourceMappingURL=style.css.map */