@import '../../../../../Component/MainScss/base';
@import '../../../../../Component/MainScss/components';

.slider-text .bread {
    text-transform: uppercase;
}

// Start Most Popular Cars
.main-most-popular {

    .title {
        text-align: center;
        font-size: 2rem;
        padding-top: 40px;

        span {
            text-transform: uppercase;
        }
    }

    .main-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card {
            border: 0;
            padding: 8px;

            .inner {
                object-fit: cover;
                border: 1px solid $color-border;
                border-radius: 4px;
                transition: border .5s;
                cursor: pointer;

                &:hover {
                    border: 1px solid $color-dark;
                }

                .name {
                    text-align: center;
                }
            }


        }
    }
}

// End Most Popular Cars