$color-main: #fc983c;
$color-blue: #29649D;
$color-white: #fff;
$color-white-light: #F1F1F1;
$color-white-light-2: #DCDCDC;
$color-dark: #262626;
$color-border: rgba(0, 0, 0, 0.1);
$color-black: #000;

@mixin transition($params...) {
    transition: $params;
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
}

@mixin bold-dark {
    font-weight: 700;
    color: $color-dark;
}

@mixin titleBrands {
    color: $color-white;
    font-weight: 500;
}

@mixin co2 ($color, $width) {
    display: flex;
    align-items: center;
    background-color: $color;
    color: $color-white-light;
    height: 12px;
    width: $width;
    font-size: 0.55rem;
    font-weight: 500;
    padding-left: 3px;
    position: relative;
    margin-bottom: 5px;

    & .arrow {
        width: 20px;
        height: 10px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid $color;
        position: absolute;
        right: -20px;
    }

    & .selected {
        width: 40px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $color-dark;
        color: $color-white-light-2;
        position: absolute;
        right: -70px;
        text-align: right;
        padding-right: 3px;
        font-size: 0.75rem;

        & .arrow-selected {
            width: 20px;
            height: 22px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $color-dark;
            position: absolute;
            left: -20px;
        }
    }
}