@import '../../../../Component/MainScss/base';
@import '../../../../Component/MainScss/components';

// Start Form Box
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    width: 75px;
    color: #F7B71D;
}

.nav-tabs .nav-item {
    width: 75px;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
}

.tab-content>.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.request-form .form-group .btn{
    line-height: 0;
}

// End Form Box

// Start Car Cards

.car-wrap {

    cursor: pointer;

    & .text span img {
        width: 30px;
    }

    & .price-wrap {
        border-radius: 0 5px 0 0;
        background-color: #ffffffd1;

        & .rate {
            font-weight: 600;
        }
    }

    &:hover {
        transition: all 0.3s;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
}

// End Car Cards


// Start Popular Brands
.popular-brands {

    .car-icons {
        padding: 50px 30px;
        border: solid 1px #dcdcdc;
        border-radius: 24px;
        cursor: pointer;

        &:hover {
            transition: all 0.3s;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }
    }
}

// End Popular Brands

// Start Popular Models
.popular-models {

    .media-body {
        h3 {
            font-size: 16px;
        }

        a {
            position: relative;
            top: 15px;
            display: block;
            width: 100%;
        }
    }
}

// End Popular Models

// Start About Us
.about-site {

    .img,
    .blog-img,
    .user-img {
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

// End About Us

// Start Contact Us
.contact-us-site{
    position: relative;
    display: flex;
    min-height: 500px;
    flex-direction: column-reverse;
    align-content: flex-end;
    margin-bottom: 200px;


    &-image{
        width: 35%;
        position: absolute;
        right: 20%;
        top: 10%;
        opacity: .9;
    }

    &-form{
        background-color: $color-white;
        height: 400px;
        position: absolute;
        top: 25%;
        left: 20%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

        .title{
            font-weight: 400;
            margin-top: 20px;
            font-size: 2rem;
            letter-spacing: 1.5px;
        }

        .input, .textareaa{
            border: 0;
            border-bottom: solid 1px $color-border;
            transition: border-bottom .3s;
            margin-top: 25px;

            &.nullll{
                border-bottom: solid 1px tomato;
            }
        }

        .input:focus, .textareaa:focus{
            outline: none;
            border-bottom: solid 1px $color-dark;
        }

        .button{
            @extend %single-product-button;

            &.success{
                background-color: green;
                color: $color-white-light-2;
            }
        }

        
    }

    .bottom-section{
        width: 55%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        background-color: $color-dark;
        position: absolute;
        right: 14%;
        border-radius: 1px;

        &-box{
            display: block;
            height: 120px;
            width: 33.333333%;
            padding: 20px 30px;
            color: $color-white-light-2;

            .header{
                text-transform: uppercase;
                font-weight: 500;
            }
            p{
                margin-bottom: 0;
                line-height: 23px;
                font-size: 1vw;
            }
        }
    }
}
// End Contact Us

// Start Scroll style
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-main;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// End Scroll style

// Start Form Box
.form-box {

    &-cars {

        .models {
            text-transform: uppercase;
        }
    }
}

// End Form Box

// Start Footer
.ftco-footer .ftco-footer-widget ul li a:hover {
    color: $color-main;
    letter-spacing: .3px;
}

.ftco-footer .ftco-footer-widget ul li a span:hover{
    color: $color-main;
}

// End Footer