.contact-us-site-form .button {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  background-color: #f5f200;
  padding: 10px 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5019607843) !important;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, border-color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #262626;
}
.contact-us-site-form .button:hover {
  background-color: #fffe89;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  width: 75px;
  color: #F7B71D;
}

.nav-tabs .nav-item {
  width: 75px;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
  margin: 0 auto;
}

.tab-content > .active {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.request-form .form-group .btn {
  line-height: 0;
}

.car-wrap {
  cursor: pointer;
}
.car-wrap .text span img {
  width: 30px;
}
.car-wrap .price-wrap {
  border-radius: 0 5px 0 0;
  background-color: rgba(255, 255, 255, 0.8196078431);
}
.car-wrap .price-wrap .rate {
  font-weight: 600;
}
.car-wrap:hover {
  transition: all 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.popular-brands .car-icons {
  padding: 50px 30px;
  border: solid 1px #dcdcdc;
  border-radius: 24px;
  cursor: pointer;
}
.popular-brands .car-icons:hover {
  transition: all 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.popular-models .media-body h3 {
  font-size: 16px;
}
.popular-models .media-body a {
  position: relative;
  top: 15px;
  display: block;
  width: 100%;
}

.about-site .img,
.about-site .blog-img,
.about-site .user-img {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-us-site {
  position: relative;
  display: flex;
  min-height: 500px;
  flex-direction: column-reverse;
  align-content: flex-end;
  margin-bottom: 200px;
}
.contact-us-site-image {
  width: 35%;
  position: absolute;
  right: 20%;
  top: 10%;
  opacity: 0.9;
}
.contact-us-site-form {
  background-color: #fff;
  height: 400px;
  position: absolute;
  top: 25%;
  left: 20%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.contact-us-site-form .title {
  font-weight: 400;
  margin-top: 20px;
  font-size: 2rem;
  letter-spacing: 1.5px;
}
.contact-us-site-form .input, .contact-us-site-form .textareaa {
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  transition: border-bottom 0.3s;
  margin-top: 25px;
}
.contact-us-site-form .input.nullll, .contact-us-site-form .textareaa.nullll {
  border-bottom: solid 1px tomato;
}
.contact-us-site-form .input:focus, .contact-us-site-form .textareaa:focus {
  outline: none;
  border-bottom: solid 1px #262626;
}
.contact-us-site-form .button.success {
  background-color: green;
  color: #DCDCDC;
}
.contact-us-site .bottom-section {
  width: 55%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  position: absolute;
  right: 14%;
  border-radius: 1px;
}
.contact-us-site .bottom-section-box {
  display: block;
  height: 120px;
  width: 33.333333%;
  padding: 20px 30px;
  color: #DCDCDC;
}
.contact-us-site .bottom-section-box .header {
  text-transform: uppercase;
  font-weight: 500;
}
.contact-us-site .bottom-section-box p {
  margin-bottom: 0;
  line-height: 23px;
  font-size: 1vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc983c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-box-cars .models {
  text-transform: uppercase;
}

.ftco-footer .ftco-footer-widget ul li a:hover {
  color: #fc983c;
  letter-spacing: 0.3px;
}

.ftco-footer .ftco-footer-widget ul li a span:hover {
  color: #fc983c;
}/*# sourceMappingURL=homepage.css.map */