// // color
// $color-main: #F7647D;
// $color-black: #000;
// $color-white: #fff;
// $color-gray-dark:#898791;

// body {
//     background-color: $color-white;
//     color: $color-main;
// }

// @mixin lists {
//     list-style-type: none;
// }

// @mixin link {
//     color: $color-gray-dark;
//     text-decoration: none;
//     font-weight: 500;
// }

// @mixin original-title{
//     font-weight: bold;
//     color: $color-white;
//     border-left: 5px solid $color-main;
//     border-radius: 2px;
//     padding-left: 5px;
// }

// .font-s-1{
//     font-size: 3rem;
// }

// .font-s-2{
//     font-size: 2rem;
// }

// .font-s-3{
//     font-size: 1rem;
// }

// .font-s-4{
//     font-size: 0.7rem;
// }

// .font-s-5{
//     font-size: 0.5rem;
// }

// .container-fluid {

//     .nav {
//         color: $color-white;

//         ul li {
//             @include lists();
//             margin-top: 10px;
//         }

//         a {
//             @include link();


//             &:hover {
//                 color: $color-main;
//                 transition: all .4s;
//                 letter-spacing: 1px;
//             }

//             i {
//                 padding-right: 20px;
//             }
//         }

//         span {
//             position: relative;
//             left: -20px;
//             font-weight: 700;
//         }

//     }


//     .center-panel {
//         .nav {
//             height: 70px;

//             ul li {
//                 @include lists();
//                 display: inline-block;
//                 position: relative;
//                 top: 35px;

//                 a {
//                     @include link();
//                     padding-left: 30px;
//                     position: relative;
//                     left: -55px;

//                     &:hover {
//                         color: $color-white;
//                         transition: all .4s;
//                         letter-spacing: 0;
//                     }
//                 }
//             }
//         }

//         .new-trailer{
//             h3{
//                 @include original-title()
//             }

//             .card{
//                 width: 15rem;
//                 height: 224px;
//                 border-top: 0;
//                 background-color: #000;

//                 .card-body{
//                     position: relative;

//                     span{
//                         position: absolute;
//                         bottom: 0;
//                         left: 0;
//                         background-color: #0000004f;
//                         width: 100%;
//                         padding: 10px;

//                         .card-title{
//                             color: $color-white;
//                             font-weight: bold;
//                         }

//                         p{
//                             color: $color-main;
//                             font-weight: 600;
//                         }


//                     }
//                 }
//             }
//         }
        
//     }

//     .right-panel {

//         .login {
//             .avatar {
//                 width: 45px;
//                 height: 45px;
//                 border-radius: 50%;
//                 border: 2px solid $color-main;
//                 position: relative;
//                 top: 15px;
//             }

//             nav {
//                 .user-name {
//                     color: $color-white;
//                     font-weight: 600;
//                     position: relative;
//                     top: 8px;

//                 }

//                 .user-email {
//                     font-weight: 300;
//                 }

//             }
//         }


//         .media-services {
//             img {
//                 width: 35px;
//                 border-radius: 20%;
//             }
//         }
//     }


//     footer{
//         .footer-login-btn{
//             background-color: $color-main;
//             color: $color-white;
//         }
//     }
// }