@import '../../../../../Component/MainScss/base';
@import '../../../../../Component/MainScss/components';

.hero-wrap.hero-wrap-2.searching-car {
    height: 350px !important;
    background-position: 50% 25% !important;
}

.hero-wrap.hero-wrap-2.searching-car .overlay{
    height: 350px;
}

.ftco-navbar-light.navbar>.container,
.navbar>.container-fluid {
    background-color: #2626268a !important;
}

.ftco-navbar-light.scrolled.navbar .container,
.navbar>.container-fluid {
    background-color: transparent !important;
}