.hero-wrap.hero-wrap-2.searching-car {
  height: 350px !important;
  background-position: 50% 25% !important;
}

.hero-wrap.hero-wrap-2.searching-car .overlay {
  height: 350px;
}

.ftco-navbar-light.navbar > .container,
.navbar > .container-fluid {
  background-color: rgba(38, 38, 38, 0.5411764706) !important;
}

.ftco-navbar-light.scrolled.navbar .container,
.navbar > .container-fluid {
  background-color: transparent !important;
}/*# sourceMappingURL=searchingCars.css.map */