@import '../../../../../../Component/MainScss/base';
@import '../../../../../../Component/MainScss/components';

body {
    background-color: $color-white-light;
}

.slide {
    height: 500px;
    background-color: $color-dark;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 70px;
        height: 40px;
        object-fit: cover;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transition: opacity .6s ease;
    }
}

.main-info {

    .options {
        span {
            color: $color-blue;
        }
    }

    .location-icon {
        color: $color-blue;
    }

    .btn-infos {
        @extend %single-product-button;
    }


}

.ftco-car-details {
    .container {
        background-color: #fff;

        hr {
            border-color: #666666;
        }

        .price-section {
            .price {
                font-size: 1.75rem;
                font-weight: 700;
                color: $color-dark;
            }

            .price-label-bar {

                span {
                    font-weight: 700;
                    color: $color-dark;
                    white-space: nowrap;
                    font-size: 13px;
                }

                .bar {
                    height: 6px;
                    background-color: #3a7410;
                    border-radius: 2px;
                }

                .procheck-icon {
                    position: relative;
                    left: 12px;
                }
            }
        }


        .insurance-section {

            .text-1 {
                font-size: 0.85rem;

                span {
                    font-weight: 700;
                }
            }

            .text-2 {
                font-size: 0.75rem;
            }

            .insurance-label-bar {

                .procheck-icon {
                    position: relative;
                    left: 26px;
                }
            }
        }

    }
}

// Start All Info Section
.main-features {
    border-bottom: solid 1px $color-border;

    .title {
        @include bold-dark();
    }

    .headers {
        margin-bottom: 10px
    }

    .result {
        @include bold-dark();
        margin-bottom: 10px
    }
}

.main-co2 {
    border: 1px solid $color-border;
    min-height: 150px;
    padding: 10px;

    p {
        font-size: 0.7rem;
        line-height: 13px;
    }

    .aFirst {
        @include co2($color: #00A650, $width: 30px)
    }

    .aSecond {
        @include co2($color: #00A650, $width: 45px)
    }

    .aThird {
        @include co2($color: #00A650, $width: 60px)
    }


    .aEnergy {
        @include co2($color: #C0D434, $width: 75px)
    }

    .bEnergy {
        @include co2($color: #C0D434, $width: 90px)
    }

    .cEnergy {
        @include co2($color: #FDF300, $width: 105px)
    }

    .dEnergy {
        @include co2($color: #FFB80E, $width: 120px)
    }

    .eEnergy {
        @include co2($color: #ED1B24, $width: 135px)
    }

    .fEnergy {
        @include co2($color: #ED1B24, $width: 150px)
    }

    .gEnergy {
        @include co2($color: #ED1B24, $width: 165px)
    }

}

// End All Info Section

// Start Nav Short Detail Car
.nav-scrolled-detail-auto {
    display: none;
}

.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .nav-scrolled-detail-auto {
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        height: 120px;
        box-shadow: 0 4px 8px 4px #0006;
        background-color: #fff;
        z-index: 3;
        animation-name: shortDetail;
        animation-duration: 1.5s;
        animation-direction: alternate;

        @keyframes shortDetail {
            0% {
                position: fixed;
                right: 0;
                left: 0;
                bottom: -120px;
            }

            100% {
                position: fixed;
                right: 0;
                left: 0;
                bottom: 0;
            }
        }

        .main-image {
            height: 120px;

            img {
                height: 100px;
                object-fit: cover;
            }
        }


        .price-section .price {
            font-size: 1.4em;
            font-weight: 600;
            color: #333333;
        }

        .options span {
            color: #29649D;
        }

        .main-titles {
            h3 {
                font-size: 1.4em;
                font-weight: 600;
            }

            h5 {
                font-size: 0.9em;
            }
        }

        .btn-infos {
            @extend %single-product-button;
            font-size: 0.85rem;
        }
    }
}

.carousel-indicators {
    z-index: 2;
}

// End Nav Short Detail Car