.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .btn-infos, .main-info .btn-infos {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  background-color: #f5f200;
  padding: 10px 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5019607843) !important;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, border-color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #262626;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .btn-infos:hover, .main-info .btn-infos:hover {
  background-color: #fffe89;
}

body {
  background-color: #F1F1F1;
}

.slide {
  height: 500px;
  background-color: #262626;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slide .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 70px;
  height: 40px;
  object-fit: cover;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}

.main-info .options span {
  color: #29649D;
}
.main-info .location-icon {
  color: #29649D;
}
.ftco-car-details .container {
  background-color: #fff;
}
.ftco-car-details .container hr {
  border-color: #666666;
}
.ftco-car-details .container .price-section .price {
  font-size: 1.75rem;
  font-weight: 700;
  color: #262626;
}
.ftco-car-details .container .price-section .price-label-bar span {
  font-weight: 700;
  color: #262626;
  white-space: nowrap;
  font-size: 13px;
}
.ftco-car-details .container .price-section .price-label-bar .bar {
  height: 6px;
  background-color: #3a7410;
  border-radius: 2px;
}
.ftco-car-details .container .price-section .price-label-bar .procheck-icon {
  position: relative;
  left: 12px;
}
.ftco-car-details .container .insurance-section .text-1 {
  font-size: 0.85rem;
}
.ftco-car-details .container .insurance-section .text-1 span {
  font-weight: 700;
}
.ftco-car-details .container .insurance-section .text-2 {
  font-size: 0.75rem;
}
.ftco-car-details .container .insurance-section .insurance-label-bar .procheck-icon {
  position: relative;
  left: 26px;
}

.main-features {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.main-features .title {
  font-weight: 700;
  color: #262626;
}
.main-features .headers {
  margin-bottom: 10px;
}
.main-features .result {
  font-weight: 700;
  color: #262626;
  margin-bottom: 10px;
}

.main-co2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 150px;
  padding: 10px;
}
.main-co2 p {
  font-size: 0.7rem;
  line-height: 13px;
}
.main-co2 .aFirst {
  display: flex;
  align-items: center;
  background-color: #00A650;
  color: #F1F1F1;
  height: 12px;
  width: 30px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .aFirst .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #00A650;
  position: absolute;
  right: -20px;
}
.main-co2 .aFirst .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .aFirst .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .aSecond {
  display: flex;
  align-items: center;
  background-color: #00A650;
  color: #F1F1F1;
  height: 12px;
  width: 45px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .aSecond .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #00A650;
  position: absolute;
  right: -20px;
}
.main-co2 .aSecond .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .aSecond .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .aThird {
  display: flex;
  align-items: center;
  background-color: #00A650;
  color: #F1F1F1;
  height: 12px;
  width: 60px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .aThird .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #00A650;
  position: absolute;
  right: -20px;
}
.main-co2 .aThird .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .aThird .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .aEnergy {
  display: flex;
  align-items: center;
  background-color: #C0D434;
  color: #F1F1F1;
  height: 12px;
  width: 75px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .aEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #C0D434;
  position: absolute;
  right: -20px;
}
.main-co2 .aEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .aEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .bEnergy {
  display: flex;
  align-items: center;
  background-color: #C0D434;
  color: #F1F1F1;
  height: 12px;
  width: 90px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .bEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #C0D434;
  position: absolute;
  right: -20px;
}
.main-co2 .bEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .bEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .cEnergy {
  display: flex;
  align-items: center;
  background-color: #FDF300;
  color: #F1F1F1;
  height: 12px;
  width: 105px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .cEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #FDF300;
  position: absolute;
  right: -20px;
}
.main-co2 .cEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .cEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .dEnergy {
  display: flex;
  align-items: center;
  background-color: #FFB80E;
  color: #F1F1F1;
  height: 12px;
  width: 120px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .dEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #FFB80E;
  position: absolute;
  right: -20px;
}
.main-co2 .dEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .dEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .eEnergy {
  display: flex;
  align-items: center;
  background-color: #ED1B24;
  color: #F1F1F1;
  height: 12px;
  width: 135px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .eEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #ED1B24;
  position: absolute;
  right: -20px;
}
.main-co2 .eEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .eEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .fEnergy {
  display: flex;
  align-items: center;
  background-color: #ED1B24;
  color: #F1F1F1;
  height: 12px;
  width: 150px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .fEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #ED1B24;
  position: absolute;
  right: -20px;
}
.main-co2 .fEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .fEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}
.main-co2 .gEnergy {
  display: flex;
  align-items: center;
  background-color: #ED1B24;
  color: #F1F1F1;
  height: 12px;
  width: 165px;
  font-size: 0.55rem;
  font-weight: 500;
  padding-left: 3px;
  position: relative;
  margin-bottom: 5px;
}
.main-co2 .gEnergy .arrow {
  width: 20px;
  height: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #ED1B24;
  position: absolute;
  right: -20px;
}
.main-co2 .gEnergy .selected {
  width: 40px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #262626;
  color: #DCDCDC;
  position: absolute;
  right: -70px;
  text-align: right;
  padding-right: 3px;
  font-size: 0.75rem;
}
.main-co2 .gEnergy .selected .arrow-selected {
  width: 20px;
  height: 22px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262626;
  position: absolute;
  left: -20px;
}

.nav-scrolled-detail-auto {
  display: none;
}

.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 120px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  z-index: 3;
  animation-name: shortDetail;
  animation-duration: 1.5s;
  animation-direction: alternate;
}
@keyframes shortDetail {
  0% {
    position: fixed;
    right: 0;
    left: 0;
    bottom: -120px;
  }
  100% {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .main-image {
  height: 120px;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .main-image img {
  height: 100px;
  object-fit: cover;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .price-section .price {
  font-size: 1.4em;
  font-weight: 600;
  color: #333333;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .options span {
  color: #29649D;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .main-titles h3 {
  font-size: 1.4em;
  font-weight: 600;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .main-titles h5 {
  font-size: 0.9em;
}
.ftco-navbar-light.scrolled .nav-scrolled-detail-auto .btn-infos {
  font-size: 0.85rem;
}

.carousel-indicators {
  z-index: 2;
}/*# sourceMappingURL=singleProduct.css.map */