@import "../../../../Component/MainScss/base";
@import "../../../../Component/MainScss/components";

.ftco-navbar-light.navbar>.container,
.navbar>.container-fluid {
    background-color: transparent !important;
}

.brands {
    background-color: $color-black;


    &-header {
        // background-color: #80868D;
        min-height: 300px;
        border-radius: 20px;
        position: relative;
        top: 20px;

        .title-brand {
            position: relative;
            top: 80px;
            display: flex;

            .main-logo {
                background-color: $color-white;
                border-radius: 50%;
            }

            img {
                width: 156px;
                height: 156px;
            }

            .brand-name {
                text-transform: uppercase;
                color: $color-white;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: -10px;
                margin-left: 10px;

                .slogan {
                    text-transform: uppercase;
                    color: $color-white;
                    font-weight: 600;
                    font-size: 1.5rem;
                }
            }
        }
    }

    &-sort {
        background-color: $color-dark;
        border-radius: 10px 10px 0 0;
        padding: 20px 10px;

        &-title {
            text-transform: uppercase;
            margin: 0;
            font-weight: 600;
            color: $color-white;
            margin-left: 20px;
        }

        &-sub-title {
            font-weight: 500;
            color: $color-white-light-2;
            margin-left: 20px;
        }

        &-options {
            display: flex;
            padding-left: 110px;
            // background-color: red;

            .option {
                display: flex;
                align-items: center;
                width: auto;
                height: 30px;
                background-color: $color-dark;
                margin-left: 10px;
                padding: 0 17px;
                border-radius: 20px;
                border: 2px solid $color-black;
                transition: all .3s;
                font-weight: 500;

                &:hover {
                    background-color: $color-main;
                    color: $color-dark;
                }
            }
        }
    }

    &-models {
        background-color: $color-dark;
        padding: 20px 10px;
        // border: 1px solid $color-white-light;

        &-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                background-color: $color-white;
                margin-right: 20px;
                margin-bottom: 10px;
                height: 190px;
                padding: 0 !important;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                border: 0;

                img {
                    object-fit: cover;
                }

                .transition-info {
                    position: absolute;
                    bottom: -100%;
                    width: 100%;
                    height: 40px;
                    background-color: #262626cc;
                    overflow: hidden;
                    transition: bottom .3s;
                    color: $color-main;
                    padding: 5px 10px;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                &:hover .transition-info {
                    bottom: 0;
                }
            }
        }
    }

    &-short-describe {
        background-color: $color-black;
        color: $color-white;
        border: 1px 0 solid $color-main;
        padding: 20px 30px;
    }

    &-models-glance {
        background-color: $color-dark;

        .main-links {
            flex-wrap: wrap;
            margin-top: 20px;

            .link {
                margin-bottom: 10px;

                a {
                    display: block;
                    border-bottom: solid 1px $color-white;
                    transition: all .4s;

                    &:hover {
                        border-bottom-color: $color-main;
                        color: $color-white;
                    }

                    &:hover i {
                        color: $color-main;
                    }
                }

                i {
                    color: $color-white;
                }
            }
        }
    }

    &-form-box {
        .title {
            color: $color-white;
            text-align: center;
            margin: 40px 0 30px 0;
        }
    }

    &-full-describe {

        &-box {

            h4 {
                @include titleBrands
            }

            li {
                color: $color-white;
            }

            p {
                color: $color-white;
            }

            .table-box {
                overflow-x: scroll;
            }

        }

        &-brand-style {
            text-transform: capitalize;
        }
    }

    &-price{
        h4 {
            @include titleBrands
        }
        p{
            color: $color-white;
        }
    }
}