.ftco-navbar-light.navbar > .container,
.navbar > .container-fluid {
  background-color: transparent !important;
}

.brands {
  background-color: #000;
}
.brands-header {
  min-height: 300px;
  border-radius: 20px;
  position: relative;
  top: 20px;
}
.brands-header .title-brand {
  position: relative;
  top: 80px;
  display: flex;
}
.brands-header .title-brand .main-logo {
  background-color: #fff;
  border-radius: 50%;
}
.brands-header .title-brand img {
  width: 156px;
  height: 156px;
}
.brands-header .title-brand .brand-name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -10px;
  margin-left: 10px;
}
.brands-header .title-brand .brand-name .slogan {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}
.brands-sort {
  background-color: #262626;
  border-radius: 10px 10px 0 0;
  padding: 20px 10px;
}
.brands-sort-title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: #fff;
  margin-left: 20px;
}
.brands-sort-sub-title {
  font-weight: 500;
  color: #DCDCDC;
  margin-left: 20px;
}
.brands-sort-options {
  display: flex;
  padding-left: 110px;
}
.brands-sort-options .option {
  display: flex;
  align-items: center;
  width: auto;
  height: 30px;
  background-color: #262626;
  margin-left: 10px;
  padding: 0 17px;
  border-radius: 20px;
  border: 2px solid #000;
  transition: all 0.3s;
  font-weight: 500;
}
.brands-sort-options .option:hover {
  background-color: #fc983c;
  color: #262626;
}
.brands-models {
  background-color: #262626;
  padding: 20px 10px;
}
.brands-models-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brands-models-cards .card {
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 190px;
  padding: 0 !important;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 0;
}
.brands-models-cards .card img {
  object-fit: cover;
}
.brands-models-cards .card .transition-info {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 40px;
  background-color: rgba(38, 38, 38, 0.8);
  overflow: hidden;
  transition: bottom 0.3s;
  color: #fc983c;
  padding: 5px 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.brands-models-cards .card:hover .transition-info {
  bottom: 0;
}
.brands-short-describe {
  background-color: #000;
  color: #fff;
  border: 1px 0 solid #fc983c;
  padding: 20px 30px;
}
.brands-models-glance {
  background-color: #262626;
}
.brands-models-glance .main-links {
  flex-wrap: wrap;
  margin-top: 20px;
}
.brands-models-glance .main-links .link {
  margin-bottom: 10px;
}
.brands-models-glance .main-links .link a {
  display: block;
  border-bottom: solid 1px #fff;
  transition: all 0.4s;
}
.brands-models-glance .main-links .link a:hover {
  border-bottom-color: #fc983c;
  color: #fff;
}
.brands-models-glance .main-links .link a:hover i {
  color: #fc983c;
}
.brands-models-glance .main-links .link i {
  color: #fff;
}
.brands-form-box .title {
  color: #fff;
  text-align: center;
  margin: 40px 0 30px 0;
}
.brands-full-describe-box h4 {
  color: #fff;
  font-weight: 500;
}
.brands-full-describe-box li {
  color: #fff;
}
.brands-full-describe-box p {
  color: #fff;
}
.brands-full-describe-box .table-box {
  overflow-x: scroll;
}
.brands-full-describe-brand-style {
  text-transform: capitalize;
}
.brands-price h4 {
  color: #fff;
  font-weight: 500;
}
.brands-price p {
  color: #fff;
}/*# sourceMappingURL=brands.css.map */